@use "../../healpers" as *;
/* Styles for form-section select-document  */
.select-document {
  &__title {
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.2;
    margin-bottom: rem(10);
    color: var(--text-color-dark-secondary);
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: rem(11);
  }

  &__card {
    display: grid;
    grid-template-columns: auto auto;
    gap: rem(20);
    grid-template-areas:
      "title desc"
      "title desc";
    position: relative;
    width: 100%;
    padding: rem(10);
    background-color: var(--color-light);
    border-radius: var(--border-radius-small);
    outline: rem(1) solid transparent;
    transition-duration: var(--transition-duration);

    &.select-document__card--absent {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &:has(input:checked) {
      outline: var(--border-accent);

      .select-document__card-indicator::after {
        background-color: var(--color-accent);
      }
    }

    &:has(input:disabled) {
      opacity: 0.5;

      .select-document__card-switcher {
        cursor: default;
      }

      button.select-document__card-button {
        color: var(--text-color-dark-medium);
        background-color: var(--color-gray-300);
        pointer-events: none;
        scale: 1;
        filter: none;
      }

      .select-document__card-indicator {
        background-color: var(--color-gray-300);
        border-color: var(--color-gray-300);

        &::after {
          background-color: var(--color-gray-300);
        }
      }

      @include hover {
        outline: transparent;
      }
    }

    &-indicator {
      @include square(rem(16));
      @include flex-center(true);

      position: absolute;
      left: rem(10);
      top: rem(10);
      flex-shrink: 0;
      border: var(--border);
      border-radius: 100%;
      background-color: var(--color-light);
      transition-duration: var(--transition-duration);

      &::after {
        content: "";
        width: 50%;
        height: 50%;
        background-color: inherit;
        border-radius: inherit;
      }
    }

    &-switcher {
      position: absolute;

      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &-name {
      grid-area: title;
      font-weight: 600;
      font-size: rem(16);
      line-height: 1.2;
      padding-left: rem(36);
    }

    &-note {
      padding-left: rem(36);
      font-size: rem(14);
      line-height: 1.4;
      color: var(--text-color-dark-secondary);
    }

    &-desc {
      grid-area: desc;
      display: flex;
      flex-direction: column;
      row-gap: rem(10);
      min-width: rem(286);
    }

    &-text {
      position: relative;

      font-size: rem(14);
      line-height: 1.4;
      padding-left: rem(22);
    }

    &-icon {
      @include square(rem(18));

      fill: var(--color-gray-300);
      position: absolute;
      left: 0;
      top: 0;
    }

    &-buttons {
      button:last-child {
        position: relative;
        z-index: 10;
      }
    }

    @include hover {
      outline: var(--border-accent);
      filter: brightness(98%);

      .select-document__card-button {
        scale: 1.02;
      }
    }

    @include active {
      .select-document__card-button {
        scale: 1;
        filter: brightness(95%);
      }
    }
  }
}

@include tablet-media {
  .select-document {
    &__title {
      line-height: 1.4;
    }

    &__card {
      display: flex;
      flex-direction: column;

      &:has(input:checked) {
        .select-document__card-buttons {
          button:first-child {
            display: none;
          }
          button:last-child {
            display: block;
          }
        }
      }

      &-indicator {
        top: rem(12);
      }

      &-switcher {
        z-index: 1;
      }

      &-buttons {
        display: flex;
        justify-content: center;
        order: 2;

        button:last-child {
          display: none;
        }
      }

      &-button {
        max-width: rem(400);
        width: 100%;
      }

      &-name {
        font-size: rem(14);
        line-height: 1.4;
      }

      &-note {
        font-size: rem(13);
      }

      &-icon {
        fill: var(--color-dark);
      }
    }
  }
}
@include mobile-medium-media {
  .select-document {
    &__title {
      margin-bottom: rem(13);
    }
  }
}
/*  ===================================  */
/*  ========END select-document========  */
/*  ===================================  */
