@use "../../healpers" as *;
@use "entry-result";

/* section from final entry page */
.success {
  max-width: var(--container-width-medium);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &__main-icon {
    @include square(rem(24));

    display: block;
    margin-inline: auto;
    margin-bottom: rem(20);
    fill: var(--color-success);
  }

  &__title {
    @include fluid-text(18, 16);
    font-weight: 600;

    line-height: 1.2;
    text-align: center;
    padding-block: rem(7);
    margin-bottom: rem(20);
  }

  &__subtitle {
    font-size: rem(14);
    line-height: 1.1;
    text-align: center;
    margin-bottom: rem(20);

    &-link {
      color: var(--color-accent-dark);
      transition-duration: var(--transition-duration) !important;
    }
  }

  &__result {
    margin-bottom: rem(20);
  }

  &__notice {
    display: flex;
    align-items: center;
    gap: rem(4);
    font-weight: 500;
    font-size: rem(14);
    line-height: 1.2;
    margin-bottom: rem(20);

    &-icon {
      @include square(rem(18));

      flex-shrink: 0;
      fill: transparent;
      stroke: var(--color-success);
    }
  }

  &__buttons {
    @include flex-center;

    flex-wrap: wrap;
    gap: rem(10);
  }

  &__button {
    padding-inline: rem(20);
    padding-block: rem(6) rem(8);
    min-height: rem(38);

    &:has(img) {
      padding-block: rem(6);
    }

    &--wide {
      flex-grow: 1;
      margin-block: rem(10);
      min-height: var(--button-height-big);
    }
  }
}

@include mobile-medium-media {
  .success {
    &__title {
      line-height: 1.4;
      margin-bottom: rem(15);
    }

    &__notice {
      gap: rem(10);
    }

    &__buttons {
      padding-block: rem(13);
      gap: rem(13);
    }

    &__button {
      &--wide {
        margin-block: rem(20);
      }
    }
  }
}
/* ===================== */
/* =====END success===== */
/* ===================== */
