@use "../../healpers" as *;
/* Styles for block user-info */
.user-info {
  background-color: var(--color-gray-50);
  padding: rem(20) rem(20) rem(10);

  display: flex;
  flex-direction: column;
  row-gap: rem(20);

  &__head {
    @include flex-space-between;
  }

  &__name {
    display: flex;
    align-items: center;
    column-gap: rem(4);

    &-text {
      display: flex;
      flex-direction: column;
      font-size: rem(12);

      span:first-of-type {
        font-weight: 600;
        line-height: 1.2;
        color: var(--text-color-dark);
      }

      span:last-of-type {
        line-height: 1.16667;
        color: var(--text-color-dark-medium);
      }
    }
  }

  &__icon {
    @include square(rem(18));

    flex-shrink: 0;
  }

  &__reduct {
    font-weight: 600;
    font-size: rem(12);
    line-height: 1.2;
    color: var(--color-light);
    padding-inline: rem(6);
    border-radius: rem(12);
    background-color: var(--color-green-light);
  }

  &__body {
  }
}

@include mobile-medium-media {
  .user-info {
    padding: rem(13) rem(20) rem(10);
    row-gap: rem(10);

    &__name {
      &-text {
        font-size: rem(14);
        line-height: 1.4;

        span:first-of-type {
          font-weight: 400;
        }
      }
    }
  }
}
/*  ============================ */
/*  ===END section user-info === */
/*  ============================ */
