@use "../../healpers" as *;
/* Styles from select-svc.*/
.select-svc {
  padding-inline: rem(20);

  &__title {
    line-height: 2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);
  }

  &__unit {
    min-height: rem(123);

    &-link {
      border-radius: var(--border-radius-small);
      background-color: var(--color-light);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(10);
      padding: rem(9) rem(10) rem(10);
      width: 100%;
      height: 100%;
      will-change: transform;
      transition-duration: var(--transition-duration) !important;

      @include hover {
        filter: opacity(1);
        filter: brightness(90%);
      }
    }

    &-image {
      @include square(rem(60));

      flex-shrink: 0;
    }

    &-name {
      font-weight: 600;
      font-size: rem(12);

      line-height: 1.2;
      text-align: center;
    }
  }

  &__button {
    width: 100%;
    margin-top: auto;
  }
}

@include tablet-media {
  .select-svc {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }

    &__unit {
      min-height: rem(110);
    }
  }
}

@include mobile-media {
  .select-svc {
    &__list {
      display: flex;
      flex-direction: column;
      gap: rem(4);
    }

    &__unit {
      min-height: rem(80);

      &-link {
        flex-direction: row;
      }

      &-name {
        text-align: start;
        font-size: rem(16);
      }
    }
  }
}

@include mobile-medium-media {
  .select-svc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}
/*  ==============================  */
/*  ========END select-svc========  */
/*  ==============================  */
