@use "../../healpers" as *;
/* Styles from select-svc.*/
.select-svc {
  &__title {
  }

  &__form {
  }

  &__list {
  }

  &__unit {
    &-image {
    }
    &-name {
    }
    &-button {
    }
  }
}

/*  ==============================  */
/*  ========END select-svc========  */
/*  ==============================  */
