@use "../../healpers" as *;
/* Blok-card service-action . */
.service-action {
  background-color: var(--color-light);
  border-radius: var(--border-radius-small);
  width: 100%;
  border: var(--border-transparent);
  padding: rem(10);
  transition-duration: var(--transition-duration) !important;

  &:has(input[data-user-service-current-button]:checked) {
    border: var(--border-accent);
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: fluid(10, 4);
    margin-bottom: fluid(20, 10);
  }

  &__name {
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.2;
  }

  &__description {
    font-size: rem(14);
    line-height: 1.4;
    color: var(--text-color-dark-secondary);
  }

  &__link {
    align-self: start;
    color: var(--color-accent);
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.2;
    transition-duration: var(--transition-duration) !important;
  }

  &__text {
    font-size: rem(13);
    line-height: 1.2;
  }

  /* ------ */
  &__dynamic {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: rem(10);

    &-ux {
      flex-shrink: 0;
    }
  }

  &__price {
    display: inline-block;
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.2;
    margin-right: rem(4);
    margin-bottom: rem(2);

    &-old {
      color: var(--text-color-dark-medium);
      font-size: rem(14);
      line-height: 1.4;
      text-decoration: line-through;
    }
  }

  &__discount {
    font-size: rem(13);
    line-height: 1.4;
    color: var(--color-success);
  }

  &__button {
    padding-inline: rem(12);

    &:has(input:checked) {
      display: none;
    }
  }

  &__counter {
    flex-shrink: 0;
  }
}

@include tablet-media {
  .service-action {
    padding: rem(10) rem(10) rem(13);

    &__dynamic {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &-ux {
        width: 100%;
        min-height: rem(42);
      }
    }

    &__button {
      min-height: var(--button-height-medium);
      max-width: rem(460);
      width: 100%;
    }

    &__counter {
      margin-inline: auto;
    }
  }
}

@include mobile-medium-media {
  .service-action {
    padding: rem(10) rem(10) rem(5.5);

    &__name {
      line-height: 1.3;
    }

    &__description {
      font-size: rem(13);
    }

    &__text {
      line-height: 1.4;
    }

    &__price {
      margin-right: rem(20);
      margin-bottom: rem(10);

      &-old {
        font-size: rem(16);
      }
    }

    &__discount {
      line-height: 1.4;
      margin-bottom: rem(3);
    }
  }
}
/*  ===================================  */
