@use "../../healpers" as *;
@use "entry-form";
/* Styles from section phone-entry. (first page)*/
.phone-entry {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  &__title {
    line-height: 1.9;
  }

  &__subtitle {
    font-size: rem(14);
    line-height: 1.4;
    margin-bottom: rem(22);

    :last-child {
      font-weight: 600;
    }
  }
}

@include mobile-medium-media {
  .phone-entry {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__title {
      font-size: rem(16);
      line-height: 1.876;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
      line-height: 1.5;
      margin-bottom: rem(20);

      p:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }
}
/*  ===============================  */
/*  ========END phone-entry========  */
/*  ===============================  */
