@use "../../healpers" as *;

/* Styles for buttons */
.button {
  @include flex-center(true);

  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
  color: var(--text-color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  border: none;
  min-height: var(--button-height);
  padding-block: rem(8);
  transition-duration: var(--transition-duration) !important;
  will-change: transform;

  @include hover {
    filter: brightness(90%);
  }

  @include active {
    filter: brightness(90%);
    scale: 0.97;
  }

  &--tg {
    display: flex;

    column-gap: rem(10);
    font-family: var(--second-family);
    background-color: var(--color-blue-light);
    border-radius: var(--border-radius-small);
  }

  &__icon {
    @include square(rem(24));

    flex-shrink: 0;
    stroke: transparent;
    fill: currentColor;
  }

  &--small-h {
    min-height: var(--button-height-small);
    padding-block: rem(5);
  }

  &--medium-h {
    min-height: var(--button-height-medium);
  }

  &--big-h {
    min-height: var(--button-height-big);
  }

  &:disabled,
  &.disabled {
    color: var(--text-color-dark-medium);
    background-color: var(--color-gray-300);
    pointer-events: none;
  }

  &--light-accent {
    background-color: var(--color-light);
    color: var(--color-accent-600);
    outline: var(--border-current);
  }
}

@include mobile-medium-media {
  .button {
    width: 100%;
  }
}

.button-switcher {
  /* For map switcher ( last-way page) */
  display: block;
  position: relative;
  max-width: rem(148);
  border-radius: var(--border-radius-medium);
  min-height: var(--button-height-small);
  background-color: var(--color-gray-300);
  will-change: transform;
  transition-duration: var(--transition-duration);

  &__path {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
  }

  &__path-text {
    display: inline-block;
    position: relative;
    z-index: 2;
    padding: rem(7.5) rem(10);
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.2;
    color: var(--text-color-dark-secondary);
    transition-duration: var(--transition-duration);

    &:first-child {
      color: var(--color-accent-medium);
    }
  }

  &__unit {
    position: absolute;
    height: 100%;
    outline: var(--border-accent-medium);
    border-radius: inherit;
    width: 55%;
    inset: 0;
    background-color: var(--color-light);
    transition-duration: var(--transition-duration);
  }

  &:has(input:checked) {
    .button-switcher__path {
      &-text:first-child {
        color: var(--text-color-dark-secondary);
      }

      &-text:last-child {
        color: var(--color-accent-medium);
      }
    }
    .button-switcher__unit {
      inset-inline: 100%;
      translate: -100% 0;
      width: 48%;
    }
  }

  @include hover {
    .button-switcher__unit {
      filter: brightness(95%);
    }
  }
}

@include tablet-media {
  .button-switcher {
    &__unit {
      width: 50%;
    }

    &:has(input:checked) {
      .button-switcher__unit {
        width: 50%;
      }
    }
  }
}
/*  ===================================  */
/*  ===================================  */
