@use "../../healpers" as *;

.input {
  --inputBorderColorDefault: var(--color-gray-300);
  --inputBorderColorFocus: var(--color-accent);
  --verifInputBorderColorFocus: var(--text-color-dark);
  --inputBorderColorError: var(--color-error);
  --inputBorderColorFiled: var(--text-color-dark);
  --inputTextColorPlaceholder: var(--text-color-medium);
  --inputTextColorDisabled: var(--text-color-medium);
  --inputTextColorFiled: var(--text-color-dark);
  --inputBgColorDisabled: var(--color-gray-300);
  --inputTextColorError: var(--color-error);
  --inputMinHeight: #{rem(46)};

  font-size: rem(16);
  line-height: 1.5;
  min-height: var(--inputMinHeight);
  padding: rem(11) rem(12);
  border-radius: var(--border-radius-extra-small);
  background-color: var(--color-light);
  border: none;
  outline: none;
  box-shadow: 0 0 0 rem(1) var(--inputBorderColorDefault);

  &::placeholder {
    color: var(--inputTextColorPlaceholder);
  }

  &:focus {
    box-shadow: 0 0 0 rem(1) var(--inputBorderColorFocus);
  }

  &.error {
    // Селектор .error для кастомной валидации полей через JS
    color: var(--inputTextColorError);

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorError);
    }
  }

  &:disabled {
    color: var(--inputTextColorDisabled);
    background-color: var(--inputBgColorDisabled);
  }

  &:not(:placeholder-shown) {
    box-shadow: 0 0 0 rem(1) var(--inputBorderColorFiled);
    color: var(--inputTextColorFiled);

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorFocus);
    }
  }

  &--verification {
    @include square(rem(44));

    flex-shrink: 0;
    font-family: var(--second-family);
    border-radius: var(--border-radius-small);
    text-align: center;
    min-height: unset;
    padding: unset;

    &::placeholder {
      color: var(--color-light);
    }

    &:disabled::placeholder {
      color: var(--inputBgColorDisabled);
    }

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--verifInputBorderColorFocus);
    }

    &:not(:placeholder-shown) {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorFiled);

      &:focus {
        box-shadow: 0 0 0 rem(1) var(--verifInputBorderColorFocus);
      }
    }
  }
}
