@use "../../healpers" as *;

.input {
  --inputBorderColorDefault: var(--color-gray-300);
  --inputBorderColorFocus: var(--color-accent);
  --verifInputBorderColorFocus: var(--text-color-dark);
  --inputBorderColorError: var(--color-error);
  --inputBorderColorFiled: var(--text-color-dark);
  --inputTextColorPlaceholder: var(--text-color-dark-medium);
  --inputTextColorDisabled: var(--text-color-medium);
  --inputTextColorFiled: var(--text-color-dark);
  --inputBgColorDisabled: var(--color-gray-300);
  --inputTextColorError: var(--color-error);
  --inputMinHeight: #{rem(46)};
  --inputMinHeightSmall: #{rem(34)};

  font-size: rem(16);
  line-height: 1.5;
  min-height: var(--inputMinHeight);
  padding: rem(11) rem(12);
  border-radius: var(--border-radius-extra-small);
  background-color: var(--color-light);
  border: none;
  outline: none;
  box-shadow: 0 0 0 rem(1) var(--inputBorderColorDefault);
  width: 100%;

  &::placeholder {
    color: var(--inputTextColorPlaceholder);
  }

  &:focus {
    box-shadow: 0 0 0 rem(1) var(--inputBorderColorFocus);
  }

  &.error {
    // Селектор .error для кастомной валидации полей через JS
    color: var(--inputTextColorError);

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorError);
    }
  }

  &:disabled {
    color: var(--inputTextColorDisabled);
    background-color: var(--inputBgColorDisabled);
  }

  &:not(:placeholder-shown) {
    box-shadow: 0 0 0 rem(1) var(--inputBorderColorFiled);
    color: var(--inputTextColorFiled);

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorFocus);
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;

    input {
      padding-right: rem(42);
    }
  }

  &__icon {
    @include square(rem(24));

    position: absolute;
    right: rem(12);
    top: 50%;
    translate: 0 -50%;
    fill: transparent;
    stroke: var(--color-dark);

    @include hover {
      scale: 1.05;
    }

    @include active {
      stroke: var(--color-gray-500);
    }
  }

  &--verification {
    @include square(rem(44));

    flex-shrink: 0;
    font-family: var(--second-family);
    border-radius: var(--border-radius-small);
    text-align: center;
    min-height: unset;
    padding: unset;

    &::placeholder {
      color: var(--color-light);
    }

    &:disabled::placeholder {
      color: var(--inputBgColorDisabled);
    }

    &:focus {
      box-shadow: 0 0 0 rem(1) var(--verifInputBorderColorFocus);
    }

    &:not(:placeholder-shown) {
      box-shadow: 0 0 0 rem(1) var(--inputBorderColorFiled);

      &:focus {
        box-shadow: 0 0 0 rem(1) var(--verifInputBorderColorFocus);
      }
    }
  }

  &--small-h {
    min-height: var(--inputMinHeightSmall);
    padding: rem(7) rem(12);
  }
}

.checkbox {
  @include flex-center(true);
  width: rem(20) !important;
  height: rem(20) !important;
  flex-shrink: 0;
  border: var(--border);
  border-radius: rem(2);
  background-color: var(--color-light);
  will-change: transform;
  transition-duration: var(--transition-duration) !important;

  &::before {
    @include abs-center;
    @include square(rem(44));

    content: "";
  }

  &__icon {
    width: rem(13);
    height: rem(10);

    flex-shrink: 0;
    fill: transparent;
    stroke: transparent;
  }

  &:has(input:checked) {
    background-color: var(--color-accent);
    border-color: var(--color-accent);

    .checkbox__icon {
      stroke: var(--color-light);
    }
  }

  &:has(input:disabled) {
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
    pointer-events: none;
  }

  @include hover {
    scale: 1.03;
  }
}

.ratio {
  @include square(rem(16));
  @include flex-center(true);

  position: relative;
  flex-shrink: 0;
  border: var(--border);
  border-radius: 100%;
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);

  &::after {
    content: "";
    width: 50%;
    height: 50%;
    background-color: inherit;
    border-radius: inherit;
  }

  &:has(input:checked) {
    &::after {
      background-color: var(--color-accent);
    }
  }

  &:has(input:checked:disabled) {
    &::after {
      background-color: var(--color-gray-500);
    }
  }

  &:has(input:disabled) {
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
    pointer-events: none;
  }
}

.switcher {
  --pathSwitcherColorDefault: var(--color-gray-300);
  --pathSwitcherColorActive: var(--color-accent-dark);
  --switcherUnitColorDefault: var(--color-light);
  --switcherUnitSize: #{rem(18)};

  position: relative;
  display: inline-block;
  width: rem(40);
  height: rem(22);

  &::before {
    @include abs-center;
    @include square(rem(44));

    content: "";
  }

  input:checked ~ .switcher__path {
    background-color: var(--pathSwitcherColorActive);
  }

  input:checked ~ .switcher__unit {
    left: calc(100% - #{rem(2)} - var(--switcherUnitSize));
  }

  &:has(input:disabled) {
    pointer-events: none;
    cursor: default;
    filter: opacity(0.5);
  }

  @include hover {
    .switcher__unit {
      filter: brightness(95%);
    }
  }

  &__path {
    position: absolute;
    inset: 0;
    background-color: var(--pathSwitcherColorDefault);
    border-radius: rem(15);
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in-out;
  }

  &__unit {
    width: var(--switcherUnitSize);
    height: var(--switcherUnitSize);

    position: absolute;
    top: 50%;
    left: rem(2);
    transform: translateY(-50%);
    background-color: var(--switcherUnitColorDefault);
    border-radius: 100%;
    transition-duration: var(--transition-duration) !important;
  }
}
