@use "../../healpers" as *;

/* Basket , mobile menu contents */
.basket {
  --mobileMenuBackgroundColor: var(--section-bg-color);

  z-index: 4;
  height: 100%;

  &-switcher {
    position: absolute;
    z-index: 5;
    right: rem(12);
    top: rem(13);

    &-icon,
    &-icon-close {
      @include square(rem(24));

      flex-shrink: 0;
      stroke: var(--text-color-dark);
      fill: transparent;
    }

    &-icon-close {
      display: none;
    }

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }

    @include hover {
      svg {
        stroke: var(--color-accent);
      }
    }

    @include active {
      scale: 0.95;
    }
  }

  &-indicator {
    @include square(rem(5));

    background-color: var(--color-red-bright);
    position: absolute;
    border-radius: 100%;
    right: rem(2);
    top: rem(1);
  }

  &-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition-duration: var(--transition-duration);
    transform: translateY(#{rem(-9999)});
    visibility: hidden;
  }
}

.basket-box {
  position: absolute;
  left: 0;
  overflow-y: scroll;
  height: max-content;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
  padding-block: rem(34) 100%;
  padding-inline: var(--container-padding-x);
  background-color: var(--mobileMenuBackgroundColor);

  &__title {
    font-weight: 600;
    font-size: rem(16);
    line-height: 1.4;
    margin-bottom: rem(4);
  }

  &__list {
    & > :not(:last-child) {
      margin-bottom: rem(10);
    }

    .service-action {
      outline: var(--border-accent);
    }
  }

  &__info {
    margin-bottom: rem(40);

    & > :not(:last-child) {
      margin-bottom: rem(10);
    }

    &-item {
      @include flex-space-between;

      column-gap: rem(2);
      font-weight: 600;
      font-size: rem(16);
      line-height: 1.2;

      &--text-gray {
        color: var(--text-color-dark-secondary);
      }
    }

    &-total {
      font-size: rem(18);
      color: var(--color-success);
    }
  }

  &__action-block {
  }
}

/*  ==============================  */
/*  =========END Basket===========  */
/*  ==============================  */
