@use "../../healpers" as *;

/* Styles from block header */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  animation-name: scrolling-sticky;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: rem(200) rem(300);

  background-color: var(--color-light);

  &__content {
    @include flex-space-between;

    column-gap: rem(24);
    padding-block: rem(5);
  }
}
@include mobile-medium-media {
  .header {
    &__content {
      padding-block: rem(3);
      padding-inline: rem(10);
    }
  }
}
/*  ==============================  */
/*  =========END header===========  */
/*  ==============================  */
