@use "../../healpers" as *;

/* Section datetime-roll */
.datetime-roll {
  min-height: rem(73);
  max-width: rem(533);
  width: fluid(533, 500);
  margin-left: 0;
  overflow: hidden;

  &__button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__unit {
    position: relative;

    overflow: hidden;
    max-width: rem(84.5);
    width: 100%;
    flex-shrink: 0;
    background-color: var(--color-light);
    border: var(--border-light);
    border-radius: var(--border-radius-small);
    transition: border var(--transition-duration) ease,
      filter var(--transition-duration) ease,
      scale var(--transition-duration) ease;
    will-change: transform;

    &:has(input:checked) {
      border: var(--border-accent);
    }

    @include hover {
      filter: brightness(97%);
    }

    @include active {
      scale: 0.95;
      filter: brightness(93%);
    }

    &--calendar {
      width: rem(84);
      height: rem(72);
      border: var(--border-accent);

      .datetime-roll__unit-content {
        padding: rem(18) rem(7.5);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: rem(4);
      padding: rem(8) rem(7.5) rem(7);
      text-align: center;
    }

    &-icon {
      @include square(rem(18));

      flex-shrink: 0;
      stroke: var(--color-dark);
      fill: transparent;
    }

    &-title {
      font-weight: 600;
      font-size: rem(14);

      line-height: 1.2;
    }

    &-time {
      font-weight: 600;
      font-size: rem(12);
      line-height: 1.2;
      color: var(--text-color-dark-secondary);
    }

    &-text {
      font-size: rem(11);
      line-height: 1.53;

      &[data-time-workload="free"] {
        color: var(--workloadColorFree);
      }

      &[data-time-workload="filled"] {
        color: var(--workloadColorFilled);
      }

      &[data-time-workload="fill"] {
        color: var(--workloadColorFill);
      }

      &[data-time-workload="few-seats"] {
        color: var(--workloadColorFewSeats);
      }
    }
  }
}

@include tablet-media {
  .datetime-roll {
    width: fluid(944, 0);
  }
}

@include mobile-medium-media {
  .datetime-roll {
    max-width: calc(100vw - var(--container-padding-x) * 2);
    width: 100%;
  }
}
/*  ===================  */
