@use "../../healpers" as *;
@use "datetime-roll";
@use "timepick";

/* Section select-datetime */
.select-datetime {
  padding-inline: var(--container-padding-x);
  margin-bottom: fluid(20, 10);

  &__title {
    padding-block: rem(6);
  }

  &__subtitle {
    font-size: fluid(16, 14);
    line-height: 1.4;
    color: var(--text-color-dark-secondary);
  }

  &__roll:not(:last-child) {
    margin-bottom: rem(20);
  }

  &__roll,
  &__timepick {
    /* 	Если вдруг блоки будут на страницу приходить прям компонентом с сервера вместе со структурой тогда тут удалить */
    display: none;
  }
}

@include mobile-medium-media {
  .select-datetime {
    &__title {
      padding-block: rem(4);
    }

    &__select-datetime {
    }
  }
}
/*  ====================================  */
/*  =========END select-datetime========  */
/*  ====================================  */
