@use "../../healpers" as *;

/* Section timepick (accordeon) */
.timepick {
  --timepickUnitMaxHeight: #{rem(360)};

  &__element {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    &-switcher {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      &:checked
        + .timepick__content
        .timepick__heading
        .timepick__heading-icon {
        rotate: 180deg;
      }

      &:checked + .timepick__content .timepick__unit {
        max-height: var(--timepickUnitMaxHeight);
      }

      &:checked + .timepick__content .timepick__unit .timepick__unit-list {
        visibility: visible;
        animation: none;
      }
    }

    &:has(input[class="timepick__element-switcher"]:disabled) {
      .timepick__heading-button {
        pointer-events: none;
        background-color: var(--color-gray-300);
        color: var(--color-gray-500);

        svg {
          opacity: 0.2;
        }
      }
    }
  }

  &__heading {
    &-button {
      display: flex;
      align-items: center;
      gap: rem(10);
      padding: rem(10);
      border-radius: var(--border-radius-small);
      background-color: var(--color-light);
      transition-duration: var(--transition-duration);
      outline: var(--border-transparent);

      @include hover {
        outline: var(--border-accent);
      }

      @include active {
        filter: brightness(95%);
      }
    }

    &-info {
    }

    &-name {
      @include fluid-text(16, 14);

      font-weight: 600;
      line-height: 1.2;
    }

    &-time {
      line-height: 1.4;
      font-size: rem(16);
      margin-right: rem(5);
    }

    &-workload {
      font-size: rem(11);
      line-height: 1.2;

      &[data-time-workload="free"] {
        color: var(--workloadColorFree);
      }

      &[data-time-workload="filled"] {
        color: var(--workloadColorFilled);
      }

      &[data-time-workload="fill"] {
        color: var(--workloadColorFill);
      }

      &[data-time-workload="few-seats"] {
        color: var(--workloadColorFewSeats);
      }
    }

    &-sign,
    &-icon {
      @include square(rem(24));

      flex-shrink: 0;
    }

    &-icon {
      stroke: var(--color-dark);
      fill: transparent;
      margin-left: auto;
    }
  }

  &__unit {
    max-height: 0;
    overflow: hidden;

    transition: max-height var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1);

    &-list {
      visibility: hidden;
      animation: hide-unit var(--transition-duration) forwards;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(10);
      padding-block: rem(10) 0;
    }
  }

  &__el {
    @include flex-space-between;

    column-gap: rem(10);
    position: relative;
    white-space: nowrap;
    background-color: var(--color-light);
    border: var(--border-light);
    border-radius: rem(2);
    padding: rem(7.5) rem(10);
    width: 100%;
    transition-duration: var(--transition-duration) !important;
    will-change: transform;

    &:has(input:checked) {
      border: var(--border-accent);
    }

    &:has(input:disabled) {
      background-color: var(--color-gray-300);
      color: var(--text-color-dark-medium);
      pointer-events: none;
    }

    @include hover {
      filter: brightness(96%);
    }

    @include active {
      filter: brightness(93%);
      scale: 0.98;
    }

    &-button {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &-time {
      font-size: rem(16);
      line-height: 1.4;
      order: -1;
    }

    &-discount {
      font-weight: 600;
      font-size: rem(12);
      line-height: 1.2;
      color: var(--color-success);
    }
  }
}
@include tablet-media {
  .timepick {
    &__unit {
      &-list {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@include mobile-s-media {
  .timepick {
    &__heading {
      &-button {
        padding: rem(8.3) rem(10);
      }

      &-time {
        margin-right: unset;
      }
    }

    &__unit {
      &-list {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
/*  =======================  */
