@use "../../healpers" as *;

/* Base of modals block(dialog)  */
.modal {
  &:modal {
    transition-duration: 1s !important;
    background-color: var(--color-overlay-dark-medium);
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: show-modal;
    animation-duration: var(--transition-duration);
  }

  &__close-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: default;

    &-wrapper {
      position: relative;
      z-index: 1;
      width: 100vw;
      height: 100vh;
    }
  }

  &__close-button {
    @include reset-button;

    width: inherit;
    height: inherit;
    position: relative;
    will-change: transform;
    transition-duration: var(--transition-duration) !important;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }

    &-wrapper {
      @include square(rem(18));
      @include flex-center(true);

      flex-shrink: 0;
    }

    &-icon {
      width: inherit;
      height: inherit;
      fill: var(--color-dark);
    }

    @include hover {
      opacity: 0.6;
    }

    @include active {
      scale: 0.95;
    }
  }

  &__inner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}

/*  ============================  */
/*  =====END Base of modals=====  */
/*  ============================  */
