@use "../../healpers" as *;
/* Block for modal window. users-prompt */
.users-prompt {
  max-width: rem(645);
  border-radius: var(--border-radius-medium);
  padding: rem(20);
  background-color: var(--color-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__icon {
    @include square(rem(24));

    flex-shrink: 0;
    fill: var(--color-accent);
    margin-bottom: rem(20);
  }

  &__title {
    font-weight: 600;
    font-size: rem(18);
    line-height: 1.2;
    margin-bottom: rem(10);
  }

  &__text {
    line-height: 1.5;
    margin-bottom: rem(20);
  }

  &__action-group {
    display: flex;
    align-items: center;
    gap: rem(20);
    width: 100%;
  }

  &__button,
  &__button-close,
  &__button-close-wrapper {
    width: 100%;
    white-space: nowrap;
  }
}

@include mobile-medium-media {
  .users-prompt {
    max-width: rem(340);
    &__action-group {
      flex-direction: column;
      gap: rem(10);
    }
  }
}
/*  ==========================  */
/*  =====END users-prompt=====  */
/*  ==========================  */
