@use "../healpers" as *;
/* GLobal styles from all site */
body {
  @include fluid-text(18, 16);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  line-height: 1.27;
  font-weight: 400;
  color: var(--text-color-dark);
  background-color: var(--color-light);

  &:has(#basketSwitch:checked) {
    overflow: hidden;

    .basket-switcher-icon-close {
      display: block;
    }

    .basket-switcher-icon,
    .basket-switcher-indicator {
      display: none;
    }

    .basket-wrapper {
      visibility: visible;
      transform: translateY(0%);
    }
  }
}

#basketSwitch[type="checkbox"] {
  display: none;
}

main {
  flex-grow: 1;
}

a,
button,
input,
textarea,
label,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;

  @include hover {
    filter: opacity(0.6);
  }

  @include active {
    filter: opacity(0.4);
    will-change: transform;
    scale: 0.98;
  }
}
// focus elements
:focus {
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}

.map-block {
  &__iframe {
    /* Может быть нужно удалить с настоящей картой*/
    object-fit: cover;
    width: rem(533);
    height: rem(297);

    @include mobile-medium-media {
      width: 100%;
    }
  }
}
/*  ===================================  */
/*  ===================================  */
