@use "../healpers" as *;
/* Functional selectors ( utils file ) */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.page-content {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, #{rem(573)}) auto;
  gap: rem(20);

  &__buttons {
    @include flex-center;

    gap: fluid(20, 10);
    grid-column: 1 / 3;
    justify-self: center;
    width: 100%;
    max-width: rem(462);
    margin-bottom: rem(20);

    button {
      width: 100%;
    }
  }
}

.flex-y-container {
  // Класс для блока main .Для позиционирования элементов на всю высоту страницы
  height: 100%;
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.hidden {
  display: none !important;
}

.letters-nowrap {
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile-medium {
  @include mobile-medium-media {
    display: none !important;
  }
}
.hidden-mobile {
  @include mobile-media {
    display: none !important;
  }
}
.hidden-tablet {
  @include tablet-media {
    display: none !important;
  }
}
.hidden-laptop {
  @include laptop-media {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop-media {
    display: none !important;
  }
}
.visible-mobile-medium {
  @include mobile-medium-media-above {
    display: none !important;
  }
}
.visible-mobile {
  @include mobile-media-above {
    display: none !important;
  }
}
.visible-tablet {
  @include tablet-media-above {
    display: none !important;
  }
}
.visible-laptop {
  @include laptop-media-above {
    display: none !important;
  }
}
.visible-desktop {
  @include desktop-media-above {
    display: none !important;
  }
}
.hide-element {
  display: none !important;
}

@include mobile-medium-media {
  .page-content {
    grid-template-columns: 1fr;
    flex-grow: 1;
    padding-inline: unset;
    width: 100%;

    &__button,
    &__buttons {
      align-self: end;
      justify-self: center;
      margin-bottom: var(--container-padding-x);
      width: calc(100% - var(--container-padding-x) * 2) !important;
    }
  }
}

@include mobile-s-media {
  .page-content {
    &__buttons {
      flex-direction: column;
      gap: rem(10);

      button {
        margin-bottom: unset;
        width: 100% !important;
      }
    }
  }
}
/*  ===================================  */
/*  ===================================  */
