@use "../healpers" as *;
/* Global variables */
:root {
  --color-accent-50: #fefdfd;
  --color-accent-200: #f2e5e1;
  --color-accent-opacity-50: #fe4e0280;
  --color-accent-500: #fe4f02;
  --color-accent-600: #dc4401;

  --color-gray-900: #161312;
  --color-gray-850: #2b2b31;
  --color-gray-800: #352f2e;
  --color-gray-750: #484848;
  --color-gray-600: #746e6d;
  --color-gray-700: #66605f;
  --color-gray-500: #968e8e;
  --color-gray-450: #a5a5a5;
  --color-gray-400: #ccc5c5;
  --color-gray-300: #dadada;
  --color-gray-200: #e9e5e5;
  --color-gray-100: #f3eded;
  --color-gray-75: #f3eded;
  --color-gray-50: #f8f8f8;

  --color-black-opacity-80: #00000033;
  --color-gray-opacity-50: #e9e9f180;
  --color-black-red-opacity-50: #2f2f2f80;
  --color-red-opcity-15: #3b060526;
  --color-red-opcity-40: #3b060566;
  --color-blue: #2c94ea;
  --color-blue-light: #2cabea;
  --color-red: #ba1414;
  --color-red-bright: #fb0000;
  --color-green: #139128;
  --color-green-light: #31ba49;
  --color-brown: #a16207;
  --color-orange: #f36b1c;
  --color-yellow-light: #fefce8;
  // ================ //
  --color-light: #ffffff;
  --color-dark: #000000;

  --text-color-light: var(--color-gray-50);
  --text-color-dark: var(--color-gray-900);
  --text-color-dark-secondary: var(--color-gray-700);
  --text-color-dark-medium: var(--color-gray-500);

  --color-accent: var(--color-accent-500);
  --color-accent-dark: var(--color-accent-600);
  --color-accent-light: var(--color-accent-opacity-50);
  --color-accent-medium: var(--color-accent-600);

  --color-error: var(--color-red);
  --color-success: var(--color-green);

  --color-overlay-dark-medium: var(--color-black-red-opacity-50);

  --color-border: var(--color-gray-900);
  --color-border-medium: var(--color-gray-700);
  --color-border-light: var(--color-gray-300);
  --color-border-active: var(--color-accent);

  --border: #{rem(1)} solid var(--color-border);
  --border-current: #{rem(1)} solid currentColor;
  --border-transparent: #{rem(1)} solid transparent;
  --border-accent: #{rem(1)} solid var(--color-accent);
  --border-accent-medium: #{rem(1)} solid var(--color-accent-medium);
  --border-light: #{rem(1)} solid var(--color-border-light);
  --border-extra-light: #{rem(0.8)} solid var(--color-border-extra-light);

  --border-radius-extra-small: #{rem(4)};
  --border-radius-small: #{rem(5)};
  --border-radius-medium: #{rem(7)};
  --border-radius: #{rem(10)};
  --border-radius-big: #{rem(20)};

  --font-family: "Inter", sans-serif;
  --second-family: "Open Sans", sans-serif;

  --letter-spacing: 0.01em;
  --letter-spacing-medium: 0.02em;
  --letter-spacing-big: 0.04em;

  --container-width: #{rem(863)};
  --container-width-medium: #{rem(582)};
  --container-padding-x: #{rem(20)};

  --section-bg-color: var(--color-gray-50);

  --button-height-small: #{rem(34)};
  --button-height-medium: #{rem(40)};
  --button-height: #{rem(42)};
  --button-height-big: #{rem(46)};

  --transition-duration: 0.3s;

  --trackActiveIconColor: var(--color-accent);
  --trackDefaultIconColor: var(--color-gray-300);
  --trackMediumIconColor: var(--color-accent-light);
  --trackActiveTextColor: var(--text-color-dark);
  --trackDefaultTextColor: var(--text-color-dark-medium);

  --workloadColorFree: var(--color-success);
  --workloadColorFill: var(--color-orange);
  --workloadColorFewSeats: var(--color-red-bright);
  --workloadColorFilled: var(--text-color-dark-secondary);
}
/*  ===================================  */
/*  ===================================  */
