@use "../../healpers" as *;
/* Styles from fast-action.Header dynamic button group  */
.fast-action {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
  }

  &__button {
    @include reset-button;

    position: relative;
    background-color: var(--color-light);
    padding-inline: rem(6) rem(28);
    border-radius: rem(50);
    will-change: transform;
    transition-duration: var(--transition-duration) !important;

    @include active {
      scale: 0.98;
      filter: brightness(90%);
    }

    &-text {
      font-size: rem(15);
      line-height: 1.3;
      letter-spacing: -0.005em;
    }
    &-icon {
      @include square(rem(18));
      @include abs-y;
      right: rem(6);
    }
  }
}

/* ============================== */
/* =======END fast-action ======= */
/* ============================== */
