@use "../../healpers" as *;
/* Styles for nav block track-list and section svc-track */
.svc-track {
  max-width: rem(270);
  width: 100%;
  flex-shrink: 0;
}

.track-list {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  min-width: rem(230);
  padding: rem(10) rem(20) rem(20);
  background-color: var(--section-bg-color);

  &__item {
    color: var(--trackDefaultTextColor);

    &-head {
      @include flex-space-between;

      gap: rem(10);
      will-change: transform;
    }

    &--medium-color {
      .track-list__service-icon {
        fill: var(--trackMediumIconColor);
      }
    }

    &--active-color {
      color: var(--trackActiveTextColor);

      .track-list__service-icon {
        fill: var(--trackActiveIconColor);
      }
    }

    &--align-top {
      .track-list__item-head {
        align-items: start;
      }

      .track-list__service {
        align-items: start;
      }
    }
  }

  &__item-body {
    padding-top: rem(4);
    padding-inline: rem(22) 0;
  }
  /* =============== */
  &__set-action {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
    margin-bottom: rem(10);
  }

  &__action {
    display: flex;
    flex-direction: column;

    row-gap: rem(4);

    &-text {
      font-size: rem(13);
      line-height: 1.2;
    }

    &-price {
      @include flex-space-between;

      font-weight: 600;
      font-size: rem(16);
      line-height: 1.2;
    }

    &-total {
      font-size: rem(18);
      color: var(--color-success);
    }
  }

  &__action-result {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);

    &-text {
      @include flex-space-between;

      font-weight: 600;
      font-size: rem(14);
      line-height: 1.2;
      color: var(--text-color-dark-secondary);

      &--small {
        font-size: rem(13);
      }
    }
  }

  /* =============== */

  &__service {
    @include reset-button;

    display: flex;
    align-items: center;
    gap: rem(10);
    will-change: transform;
    transition-duration: var(--transition-duration) !important;

    @include hover {
      filter: opacity(0.6);
    }

    @include active {
      filter: opacity(0.4);
      will-change: transform;
      scale: 0.98;
    }

    &-icon {
      @include square(rem(18));

      flex-shrink: 0;
      fill: var(--trackDefaultIconColor);
    }

    &-description {
      display: flex;
      flex-direction: column;
    }

    &-name {
      font-size: rem(13);
      line-height: 1.3;
    }

    &-text {
      font-size: rem(12);
      line-height: 1.16667;
      color: var(--text-color-dark-medium);
    }

    &-button {
      @include reset-button;
      @include flex-center(true);
      @include square(rem(18));

      flex-shrink: 0;
      transition-duration: var(--transition-duration) !important;

      @include hover {
        filter: brightness(70%);
      }

      @include active {
        scale: 0.95;
        filter: brightness(60%);
      }

      &-icon {
        @include square(rem(18));

        flex-shrink: 0;
        fill: var(--text-color-dark-medium);
      }
    }
  }
}
@include mobile-medium-media {
  .track-list {
    &__item--header {
      margin-bottom: rem(10);

      .track-list__item-head {
        justify-content: start;
      }
    }
  }
}
/*  ==============================  */
/*  ========END track-list========  */
/*  ==============================  */
