@use "../../healpers" as *;
/* Styles from section fast-entry */
.fast-entry {
  max-width: rem(537);
  margin-inline: auto;
  padding-block: rem(10);
  padding-inline: var(--container-padding-x);
  margin-bottom: rem(10);

  display: grid;
  grid-template: auto auto / auto 1fr;
  row-gap: rem(10);
  column-gap: rem(13);

  &__image {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
  }

  &__text {
    @include fluid-text(16, 14);

    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color-dark-medium);
    max-width: rem(349);
  }

  &__button {
    @include flex-center;

    justify-self: start;
    padding-inline: rem(30);
    white-space: nowrap;
  }
}

@include mobile-media {
  .fast-entry {
    max-width: rem(500);
  }
}

@include mobile-medium-media {
  .fast-entry {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      line-height: 1.47;
      max-width: unset;
    }

    &__button {
      max-width: rem(370);
    }
  }
}
/*  ==============================  */
/*  ========END fast-entry========  */
/*  ==============================  */
