@use "../../healpers" as *;

/* Section select-workshop */
.select-workshop {
  padding-inline: var(--container-padding-x);
  margin-bottom: fluid(20, 10);

  &:has(input[id="workshops-map-switcher"]:checked) {
    .select-workshop__map-block {
      display: block;
    }
  }

  &:has(input[name="workshop-name"]:checked) {
    /* 	Если вдруг блоки будут на страницу приходить прям компонентом с сервера вместе со структурой тогда тут удалить */
    & ~ .select-datetime .select-datetime__roll,
    & ~ .select-datetime .select-datetime__timepick {
      display: block;
    }

    & ~ .select-datetime .select-datetime__subtitle {
      display: none;
    }
  }

  &__title {
    padding-block: rem(6);
  }

  &__header {
    @include flex-space-between;

    gap: rem(10);
    margin-bottom: rem(20);
  }

  &__action {
    @include reset-button;

    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
    padding-inline: rem(22) rem(10);
    will-change: transform;
    transition-duration: var(--transition-duration) !important;

    @include hover {
      filter: opacity(0.7);

      svg {
        scale: 1.2;
      }
    }

    @include active {
      scale: 0.98;
      filter: opacity(0.5);
    }

    &-icon {
      @include square(rem(18));

      flex-shrink: 0;
      position: absolute;
      left: 0;
      top: 50%;
      translate: 0 -50%;
      stroke: var(--color-accent);
      transition-duration: var(--transition-duration) !important;
    }

    &-text {
      font-weight: 600;
      font-size: rem(14);
      line-height: 1.2;

      &-light {
        font-size: rem(12);
        line-height: 1.24;
        color: var(--text-color-dark-secondary);
      }
    }
  }

  &__map-block {
    display: none;
    margin-bottom: rem(20);
  }
  /* ---------- */
  &__body {
    height: rem(222);
    padding-right: rem(2);
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__unit {
    position: relative;
    border-radius: var(--border-radius-small);
    background-color: var(--color-light);
    border: var(--border-transparent);
    padding: rem(9) rem(10);
    transition-duration: var(--transition-duration);

    &:has(input:checked) {
      border: var(--border-accent);
    }

    @include hover {
      filter: brightness(96%);
    }
  }

  &__button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: rem(10);
  }

  &__address {
    font-weight: 400;
    font-size: rem(14);
    line-height: 1.4;

    * {
      font-style: normal;
    }
  }

  &__state {
    font-size: rem(11);
    line-height: 1.2;
    text-align: center;

    [data-workshop-workload="few-seats"] {
      color: var(--color-red-bright);
    }

    [data-workshop-workload="freely"] {
      color: var(--color-success);
    }
  }

  &__rating {
    @include flex-center;

    column-gap: rem(10);
    padding: rem(4.5) rem(9);
    border-radius: var(--border-radius-big);
    flex-shrink: 0;
    background-color: var(--color-yellow-light);
    width: min-content;

    &-icon {
      @include square(rem(18));

      flex-shrink: 0;
    }

    &-text {
      color: var(--color-brown);
      font-size: rem(14);
      line-height: 1.4;
    }
  }
}

@include tablet-media {
  .select-workshop {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);
    }

    &__button-switcher {
      max-width: 100%;
      width: 100%;

      .button-switcher__path-text {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@include mobile-media {
  .select-workshop {
    &__title {
      padding-block: rem(4);
    }

    &__body {
      height: rem(300);
      padding-right: rem(12);
    }

    &__content {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "address address"
        "rating state";
    }

    &__address {
      grid-area: address;
    }

    &__state {
      grid-area: state;
      text-align: start;
    }

    &__rating {
      grid-area: rating;
    }
  }
}

@include mobile-medium-media {
  .select-workshop {
    &__content {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "address state rating";
    }

    &__state {
      text-align: center;
    }
  }
}

@media (width <= rem(599.98)) {
  .select-workshop {
    &__content {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "address address"
        "rating state";
    }

    &__state {
      text-align: start;
    }
  }
}
/*  ====================================  */
/*  =========END select-workshop========  */
/*  ====================================  */
