// connecting general scss files
@use "base/normolize";
@use "base/fonts";
@use "base/variables";
@use "base/utils";
@use "base/globals";
@use "base/animation";

//common-blocks
@use "blocks/common-blocks/logo";
@use "blocks/common-blocks/button";
@use "blocks/common-blocks/inputs";
@use "blocks/common-blocks/section";
//blocks
@use "blocks/header/header";
@use "blocks/header/basket";
@use "blocks/modals/base-modal";
@use "blocks/modals/edit-car";
@use "blocks/fast-entry/fast-entry";
@use "blocks/fast-action/fast-action";
@use "blocks/phone-entry/phone-entry";
@use "blocks/verification/verification";
@use "blocks/select-svc/select-svc";
@use "blocks/track-list/track-list";
@use "blocks/user-info/user-info";
@use "blocks/user-info/user-promocode";
@use "blocks/user-cars/user-cars";
@use "blocks/user-request/user-request";
@use "blocks/select-document/select-document";
@use "blocks/wheel-parameters/wheel-parameters";
@use "blocks/services/services";
@use "blocks/select-workshop/select-workshop";
@use "blocks/select-datetime/select-datetime";
@use "blocks/user-comment/user-comment";
@use "blocks/privacy-policy/privacy-policy";
