@use "../../healpers" as *;
@use "verification-form";
/* Styles from section verification.*/
.verification {
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  background-color: var(--color-gray-50);
  border-radius: var(--border-radius-medium);
  padding-block: rem(20);

  &__title {
    font-size: rem(18);
    font-weight: 600;
    line-height: 2;
    margin-bottom: rem(18);
  }

  &__subtitle {
    text-align: center;
    font-weight: 600;
    font-size: rem(14);
    line-height: 1.5;
    margin-bottom: rem(20);
  }
}

@include mobile-medium-media {
  .verification {
    &__title {
      font-size: rem(20);
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: rem(16);
    }
  }
}
/*  ================================  */
/*  ========END verification========  */
/*  ================================  */
